<form method="POST">
    <input type="text" placeholder="Login" name="to"> <br>
    <input type="text" placeholder='Message...' name="message"> <br>
    <input type="submit">
</form>

<textarea class='.chatField' disabled>
123  
1234
</textarea>